-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/main/tested_requirements/requirements_310.reqs
plotly==5.13.0
prophet==1.1.2
vacances-scolaires-france==0.10.0
matplotlib==3.7.0